In [287]:
# importing required packages

import pandas as pd 
import numpy as np
import re
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [288]:
label = LabelEncoder()
ohe = OneHotEncoder()

In [289]:
# reading the data 

data = pd.read_csv('loan_data.csv')

In [290]:
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
3,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
4,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413696,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-618.0,72.0,-558.0,-528.0,1.0
1413697,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Connectivity,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
1413698,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,XNA,60.0,low_normal,Cash Street: low,NaN,NaN,NaN,NaN,NaN,NaN
1413699,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,XNA,36.0,low_normal,Cash X-Sell: low,365243.0,-756.0,294.0,-66.0,-64.0,0.0
1413700,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Connectivity,6.0,high,POS mobile with interest,365243.0,-469.0,-319.0,-409.0,-400.0,0.0

In [291]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Columns: 158 entries, SK_ID_CURR to NFLAG_INSURED_ON_APPROVAL
dtypes: float64(80), int64(46), object(32)
memory usage: 1.7+ GB

In [292]:
for i in data.columns:
    print(f'{i} : {data[i].dtype}')

SK_ID_CURR : int64
TARGET : int64
NAME_CONTRACT_TYPE_x : object
CODE_GENDER : object
FLAG_OWN_CAR : object
FLAG_OWN_REALTY : object
CNT_CHILDREN : int64
AMT_INCOME_TOTAL : float64
AMT_CREDIT_x : float64
AMT_ANNUITY_x : float64
AMT_GOODS_PRICE_x : float64
NAME_TYPE_SUITE_x : object
NAME_INCOME_TYPE : object
NAME_EDUCATION_TYPE : object
NAME_FAMILY_STATUS : object
NAME_HOUSING_TYPE : object
REGION_POPULATION_RELATIVE : float64
DAYS_BIRTH : int64
DAYS_EMPLOYED : int64
DAYS_REGISTRATION : float64
DAYS_ID_PUBLISH : int64
OWN_CAR_AGE : float64
FLAG_MOBIL : int64
FLAG_EMP_PHONE : int64
FLAG_WORK_PHONE : int64
FLAG_CONT_MOBILE : int64
FLAG_PHONE : int64
FLAG_EMAIL : int64
OCCUPATION_TYPE : object
CNT_FAM_MEMBERS : float64
REGION_RATING_CLIENT : int64
REGION_RATING_CLIENT_W_CITY : int64
WEEKDAY_APPR_PROCESS_START_x : object
HOUR_APPR_PROCESS_START_x : int64
REG_REGION_NOT_LIVE_REGION : int64
REG_REGION_NOT_WORK_REGION : int64
LIVE_REGION_NOT_WORK_REGION : int64
REG_CITY_NOT_LIVE_CITY : int64
REG_CITY_NOT_WORK_CITY : int64
LIVE_CITY_NOT_WORK_CITY : int64
ORGANIZATION_TYPE : object
EXT_SOURCE_1 : float64
EXT_SOURCE_2 : float64
EXT_SOURCE_3 : float64
APARTMENTS_AVG : float64
BASEMENTAREA_AVG : float64
YEARS_BEGINEXPLUATATION_AVG : float64
YEARS_BUILD_AVG : float64
COMMONAREA_AVG : float64
ELEVATORS_AVG : float64
ENTRANCES_AVG : float64
FLOORSMAX_AVG : float64
FLOORSMIN_AVG : float64
LANDAREA_AVG : float64
LIVINGAPARTMENTS_AVG : float64
LIVINGAREA_AVG : float64
NONLIVINGAPARTMENTS_AVG : float64
NONLIVINGAREA_AVG : float64
APARTMENTS_MODE : float64
BASEMENTAREA_MODE : float64
YEARS_BEGINEXPLUATATION_MODE : float64
YEARS_BUILD_MODE : float64
COMMONAREA_MODE : float64
ELEVATORS_MODE : float64
ENTRANCES_MODE : float64
FLOORSMAX_MODE : float64
FLOORSMIN_MODE : float64
LANDAREA_MODE : float64
LIVINGAPARTMENTS_MODE : float64
LIVINGAREA_MODE : float64
NONLIVINGAPARTMENTS_MODE : float64
NONLIVINGAREA_MODE : float64
APARTMENTS_MEDI : float64
BASEMENTAREA_MEDI : float64
YEARS_BEGINEXPLUATATION_MEDI : float64
YEARS_BUILD_MEDI : float64
COMMONAREA_MEDI : float64
ELEVATORS_MEDI : float64
ENTRANCES_MEDI : float64
FLOORSMAX_MEDI : float64
FLOORSMIN_MEDI : float64
LANDAREA_MEDI : float64
LIVINGAPARTMENTS_MEDI : float64
LIVINGAREA_MEDI : float64
NONLIVINGAPARTMENTS_MEDI : float64
NONLIVINGAREA_MEDI : float64
FONDKAPREMONT_MODE : object
HOUSETYPE_MODE : object
TOTALAREA_MODE : float64
WALLSMATERIAL_MODE : object
EMERGENCYSTATE_MODE : object
OBS_30_CNT_SOCIAL_CIRCLE : float64
DEF_30_CNT_SOCIAL_CIRCLE : float64
OBS_60_CNT_SOCIAL_CIRCLE : float64
DEF_60_CNT_SOCIAL_CIRCLE : float64
DAYS_LAST_PHONE_CHANGE : float64
FLAG_DOCUMENT_2 : int64
FLAG_DOCUMENT_3 : int64
FLAG_DOCUMENT_4 : int64
FLAG_DOCUMENT_5 : int64
FLAG_DOCUMENT_6 : int64
FLAG_DOCUMENT_7 : int64
FLAG_DOCUMENT_8 : int64
FLAG_DOCUMENT_9 : int64
FLAG_DOCUMENT_10 : int64
FLAG_DOCUMENT_11 : int64
FLAG_DOCUMENT_12 : int64
FLAG_DOCUMENT_13 : int64
FLAG_DOCUMENT_14 : int64
FLAG_DOCUMENT_15 : int64
FLAG_DOCUMENT_16 : int64
FLAG_DOCUMENT_17 : int64
FLAG_DOCUMENT_18 : int64
FLAG_DOCUMENT_19 : int64
FLAG_DOCUMENT_20 : int64
FLAG_DOCUMENT_21 : int64
AMT_REQ_CREDIT_BUREAU_HOUR : float64
AMT_REQ_CREDIT_BUREAU_DAY : float64
AMT_REQ_CREDIT_BUREAU_WEEK : float64
AMT_REQ_CREDIT_BUREAU_MON : float64
AMT_REQ_CREDIT_BUREAU_QRT : float64
AMT_REQ_CREDIT_BUREAU_YEAR : float64
SK_ID_PREV : int64
NAME_CONTRACT_TYPE_y : object
AMT_ANNUITY_y : float64
AMT_APPLICATION : float64
AMT_CREDIT_y : float64
AMT_DOWN_PAYMENT : float64
AMT_GOODS_PRICE_y : float64
WEEKDAY_APPR_PROCESS_START_y : object
HOUR_APPR_PROCESS_START_y : int64
FLAG_LAST_APPL_PER_CONTRACT : object
NFLAG_LAST_APPL_IN_DAY : int64
RATE_DOWN_PAYMENT : float64
RATE_INTEREST_PRIMARY : float64
RATE_INTEREST_PRIVILEGED : float64
NAME_CASH_LOAN_PURPOSE : object
NAME_CONTRACT_STATUS : object
DAYS_DECISION : int64
NAME_PAYMENT_TYPE : object
CODE_REJECT_REASON : object
NAME_TYPE_SUITE_y : object
NAME_CLIENT_TYPE : object
NAME_GOODS_CATEGORY : object
NAME_PORTFOLIO : object
NAME_PRODUCT_TYPE : object
CHANNEL_TYPE : object
SELLERPLACE_AREA : int64
NAME_SELLER_INDUSTRY : object
CNT_PAYMENT : float64
NAME_YIELD_GROUP : object
PRODUCT_COMBINATION : object
DAYS_FIRST_DRAWING : float64
DAYS_FIRST_DUE : float64
DAYS_LAST_DUE_1ST_VERSION : float64
DAYS_LAST_DUE : float64
DAYS_TERMINATION : float64
NFLAG_INSURED_ON_APPROVAL : float64

In [293]:
data.isnull().mean()

SK_ID_CURR                   0.000000
TARGET                       0.000000
NAME_CONTRACT_TYPE_x         0.000000
CODE_GENDER                  0.000000
FLAG_OWN_CAR                 0.000000
                               ...
DAYS_FIRST_DUE               0.396906
DAYS_LAST_DUE_1ST_VERSION    0.396906
DAYS_LAST_DUE                0.396906
DAYS_TERMINATION             0.396906
NFLAG_INSURED_ON_APPROVAL    0.396906
Length: 158, dtype: float64

## categorical and numerical seperations

In [295]:
categorical = [col for col in data.columns if data[col].dtype == 'object']

numerical = data.drop(categorical, axis=1).columns

In [296]:
print(f'len of data: {len(data.columns)}, len of categorical: {len(categorical)}, len of numerical {len(numerical)}')

len of data: 158, len of categorical: 32, len of numerical 126

In [297]:
# unique values in categorical values
[print(f'{col} : {data[col].unique()}') for col in categorical]

NAME_CONTRACT_TYPE_x : ['Cash loans' 'Revolving loans']
CODE_GENDER : ['M' 'F' 'XNA']
FLAG_OWN_CAR : ['N' 'Y']
FLAG_OWN_REALTY : ['Y' 'N']
NAME_TYPE_SUITE_x : ['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A'
 'Group of people' 'Other_B' nan]
NAME_INCOME_TYPE : ['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student' 'Maternity leave']
NAME_EDUCATION_TYPE : ['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
NAME_FAMILY_STATUS : ['Single / not married' 'Married' 'Civil marriage' 'Widow' 'Separated']
NAME_HOUSING_TYPE : ['House / apartment' 'Rented apartment' 'With parents'
 'Municipal apartment' 'Office apartment' 'Co-op apartment']
OCCUPATION_TYPE : ['Laborers' 'Core staff' 'Accountants' 'Managers' nan 'Drivers'
 'Sales staff' 'Cleaning staff' 'Private service staff' 'Medicine staff'
 'Security staff' 'Cooking staff' 'High skill tech staff'
 'Waiters/barmen staff' 'Low-skill Laborers' 'Realty agents' 'Secretaries'
 'IT staff' 'HR staff']
WEEKDAY_APPR_PROCESS_START_x : ['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']
ORGANIZATION_TYPE : ['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Electricity' 'Medicine' 'Business Entity Type 2' 'Self-employed'
 'Transport: type 2' 'Construction' 'Housing' 'Kindergarten'
 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Security Ministries' 'Transport: type 4' 'Industry: type 1' 'Emergency'
 'Security' 'Trade: type 2' 'University' 'Police' 'Business Entity Type 1'
 'Postal' 'Transport: type 3' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Culture' 'Hotel' 'Industry: type 7' 'Industry: type 3'
 'Bank' 'Trade: type 3' 'Industry: type 9' 'Trade: type 6'
 'Industry: type 2' 'Transport: type 1' 'Industry: type 12' 'Insurance'
 'Mobile' 'Trade: type 1' 'Industry: type 5' 'Industry: type 10'
 'Legal Services' 'Advertising' 'Trade: type 5' 'Cleaning'
 'Industry: type 13' 'Trade: type 4' 'Telecom' 'Industry: type 8'
 'Realtor' 'Industry: type 6']
FONDKAPREMONT_MODE : ['reg oper account' nan 'org spec account' 'reg oper spec account'
 'not specified']
HOUSETYPE_MODE : ['block of flats' nan 'terraced house' 'specific housing']
WALLSMATERIAL_MODE : ['Stone, brick' 'Block' nan 'Panel' 'Mixed' 'Others' 'Monolithic' 'Wooden']
EMERGENCYSTATE_MODE : ['No' nan 'Yes']
NAME_CONTRACT_TYPE_y : ['Consumer loans' 'Cash loans' 'Revolving loans' 'XNA']
WEEKDAY_APPR_PROCESS_START_y : ['SATURDAY' 'FRIDAY' 'SUNDAY' 'THURSDAY' 'TUESDAY' 'MONDAY' 'WEDNESDAY']
FLAG_LAST_APPL_PER_CONTRACT : ['Y' 'N']
NAME_CASH_LOAN_PURPOSE : ['XAP' 'XNA' 'Other' 'Payments on other loans' 'Buying a used car'
 'Repairs' 'Education' 'Buying a new car' 'Everyday expenses' 'Medicine'
 'Car repairs' 'Urgent needs' 'Buying a holiday home / land'
 'Building a house or an annex' 'Furniture' 'Journey'
 'Purchase of electronic equipment' 'Wedding / gift / holiday'
 'Buying a home' 'Business development' 'Gasification / water supply'
 'Buying a garage' 'Hobby' 'Money for a third person'
 'Refusal to name the goal']
NAME_CONTRACT_STATUS : ['Approved' 'Canceled' 'Refused' 'Unused offer']
NAME_PAYMENT_TYPE : ['XNA' 'Cash through the bank' 'Non-cash from your account'
 'Cashless from the account of the employer']
CODE_REJECT_REASON : ['XAP' 'LIMIT' 'HC' 'SCO' 'SCOFR' 'VERIF' 'CLIENT' 'XNA' 'SYSTEM']
NAME_TYPE_SUITE_y : [nan 'Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A'
 'Other_B' 'Group of people']
NAME_CLIENT_TYPE : ['New' 'Repeater' 'Refreshed' 'XNA']
NAME_GOODS_CATEGORY : ['Vehicles' 'XNA' 'Furniture' 'Consumer Electronics' 'Mobile'
 'Audio/Video' 'Construction Materials' 'Gardening'
 'Photo / Cinema Equipment' 'Computers' 'Clothing and Accessories'
 'Homewares' 'Medical Supplies' 'Other' 'Jewelry' 'Office Appliances'
 'Tourism' 'Auto Accessories' 'Sport and Leisure' 'Medicine' 'Weapon'
 'Direct Sales' 'Fitness' 'Insurance' 'Additional Service' 'Education'
 'Animals']
NAME_PORTFOLIO : ['POS' 'Cash' 'XNA' 'Cards' 'Cars']
NAME_PRODUCT_TYPE : ['XNA' 'x-sell' 'walk-in']
CHANNEL_TYPE : ['Stone' 'Credit and cash offices' 'Country-wide' 'Regional / Local'
 'AP+ (Cash loan)' 'Contact center' 'Channel of corporate sales'
 'Car dealer']
NAME_SELLER_INDUSTRY : ['Auto technology' 'XNA' 'Furniture' 'Consumer electronics' 'Connectivity'
 'Construction' 'Clothing' 'Industry' 'Tourism' 'Jewelry' 'MLM partners']
NAME_YIELD_GROUP : ['low_normal' 'middle' 'XNA' 'high' 'low_action']
PRODUCT_COMBINATION : ['POS other with interest' 'Cash X-Sell: low' 'POS industry with interest'
 'POS household with interest' 'POS mobile without interest' 'Card Street'
 'Card X-Sell' 'Cash X-Sell: high' 'Cash' 'Cash Street: high'
 'Cash X-Sell: middle' 'POS mobile with interest'
 'POS household without interest' 'POS industry without interest'
 'Cash Street: low' 'Cash Street: middle' 'POS others without interest'
 nan]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [298]:
data[categorical].isnull().mean()

NAME_CONTRACT_TYPE_x            0.000000
CODE_GENDER                     0.000000
FLAG_OWN_CAR                    0.000000
FLAG_OWN_REALTY                 0.000000
NAME_TYPE_SUITE_x               0.002494
NAME_INCOME_TYPE                0.000000
NAME_EDUCATION_TYPE             0.000000
NAME_FAMILY_STATUS              0.000000
NAME_HOUSING_TYPE               0.000000
OCCUPATION_TYPE                 0.323675
WEEKDAY_APPR_PROCESS_START_x    0.000000
ORGANIZATION_TYPE               0.000000
FONDKAPREMONT_MODE              0.682163
HOUSETYPE_MODE                  0.498101
WALLSMATERIAL_MODE              0.504623
EMERGENCYSTATE_MODE             0.470645
NAME_CONTRACT_TYPE_y            0.000000
WEEKDAY_APPR_PROCESS_START_y    0.000000
FLAG_LAST_APPL_PER_CONTRACT     0.000000
NAME_CASH_LOAN_PURPOSE          0.000000
NAME_CONTRACT_STATUS            0.000000
NAME_PAYMENT_TYPE               0.000000
CODE_REJECT_REASON              0.000000
NAME_TYPE_SUITE_y               0.491385
NAME_CLIENT_TYPE                0.000000
NAME_GOODS_CATEGORY             0.000000
NAME_PORTFOLIO                  0.000000
NAME_PRODUCT_TYPE               0.000000
CHANNEL_TYPE                    0.000000
NAME_SELLER_INDUSTRY            0.000000
NAME_YIELD_GROUP                0.000000
PRODUCT_COMBINATION             0.000221
dtype: float64

In [299]:
for col in numerical:
    null_ratio = data[col].isnull().mean()
    if null_ratio > 0:
        print(f"{col}: {null_ratio:.2%}")

AMT_ANNUITY_x: 0.01%
AMT_GOODS_PRICE_x: 0.09%
OWN_CAR_AGE: 66.29%
EXT_SOURCE_1: 56.37%
EXT_SOURCE_2: 0.13%
EXT_SOURCE_3: 17.11%
APARTMENTS_AVG: 50.36%
BASEMENTAREA_AVG: 58.31%
YEARS_BEGINEXPLUATATION_AVG: 48.43%
YEARS_BUILD_AVG: 66.30%
COMMONAREA_AVG: 69.69%
ELEVATORS_AVG: 53.00%
ENTRANCES_AVG: 50.00%
FLOORSMAX_AVG: 49.41%
FLOORSMIN_AVG: 67.67%
LANDAREA_AVG: 59.22%
LIVINGAPARTMENTS_AVG: 68.21%
LIVINGAREA_AVG: 49.83%
NONLIVINGAPARTMENTS_AVG: 69.30%
NONLIVINGAREA_AVG: 54.86%
APARTMENTS_MODE: 50.36%
BASEMENTAREA_MODE: 58.31%
YEARS_BEGINEXPLUATATION_MODE: 48.43%
YEARS_BUILD_MODE: 66.30%
COMMONAREA_MODE: 69.69%
ELEVATORS_MODE: 53.00%
ENTRANCES_MODE: 50.00%
FLOORSMAX_MODE: 49.41%
FLOORSMIN_MODE: 67.67%
LANDAREA_MODE: 59.22%
LIVINGAPARTMENTS_MODE: 68.21%
LIVINGAREA_MODE: 49.83%
NONLIVINGAPARTMENTS_MODE: 69.30%
NONLIVINGAREA_MODE: 54.86%
APARTMENTS_MEDI: 50.36%
BASEMENTAREA_MEDI: 58.31%
YEARS_BEGINEXPLUATATION_MEDI: 48.43%
YEARS_BUILD_MEDI: 66.30%
COMMONAREA_MEDI: 69.69%
ELEVATORS_MEDI: 53.00%
ENTRANCES_MEDI: 50.00%
FLOORSMAX_MEDI: 49.41%
FLOORSMIN_MEDI: 67.67%
LANDAREA_MEDI: 59.22%
LIVINGAPARTMENTS_MEDI: 68.21%
LIVINGAREA_MEDI: 49.83%
NONLIVINGAPARTMENTS_MEDI: 69.30%
NONLIVINGAREA_MEDI: 54.86%
TOTALAREA_MODE: 47.93%
OBS_30_CNT_SOCIAL_CIRCLE: 0.22%
DEF_30_CNT_SOCIAL_CIRCLE: 0.22%
OBS_60_CNT_SOCIAL_CIRCLE: 0.22%
DEF_60_CNT_SOCIAL_CIRCLE: 0.22%
AMT_REQ_CREDIT_BUREAU_HOUR: 11.57%
AMT_REQ_CREDIT_BUREAU_DAY: 11.57%
AMT_REQ_CREDIT_BUREAU_WEEK: 11.57%
AMT_REQ_CREDIT_BUREAU_MON: 11.57%
AMT_REQ_CREDIT_BUREAU_QRT: 11.57%
AMT_REQ_CREDIT_BUREAU_YEAR: 11.57%
AMT_ANNUITY_y: 21.73%
AMT_CREDIT_y: 0.00%
AMT_DOWN_PAYMENT: 53.02%
AMT_GOODS_PRICE_y: 22.60%
RATE_DOWN_PAYMENT: 53.02%
RATE_INTEREST_PRIMARY: 99.66%
RATE_INTEREST_PRIVILEGED: 99.66%
CNT_PAYMENT: 21.73%
DAYS_FIRST_DRAWING: 39.69%
DAYS_FIRST_DUE: 39.69%
DAYS_LAST_DUE_1ST_VERSION: 39.69%
DAYS_LAST_DUE: 39.69%
DAYS_TERMINATION: 39.69%
NFLAG_INSURED_ON_APPROVAL: 39.69%

In [300]:
# cleaning null values 

for col in categorical:
    data[col].fillna(data[col].mode()[0], inplace=True)

for col in numerical: 
    if data[col].nunique() >15:
        data[col].fillna(data[col].mean(), inplace=True)
    else:
        data[col].fillna(data[col].mode()[0], inplace=True)

C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
C:\Users\Ajay\AppData\Local\Temp\ipykernel_19356\73110282.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.


In [301]:
# Label Encoding categorical variables

for col in categorical:
    data[col] = label.fit_transform(data[col])
    print(f'{col} encoded as label form')

NAME_CONTRACT_TYPE_x encoded as label form
CODE_GENDER encoded as label form
FLAG_OWN_CAR encoded as label form
FLAG_OWN_REALTY encoded as label form
NAME_TYPE_SUITE_x encoded as label form
NAME_INCOME_TYPE encoded as label form
NAME_EDUCATION_TYPE encoded as label form
NAME_FAMILY_STATUS encoded as label form
NAME_HOUSING_TYPE encoded as label form
OCCUPATION_TYPE encoded as label form
WEEKDAY_APPR_PROCESS_START_x encoded as label form
ORGANIZATION_TYPE encoded as label form
FONDKAPREMONT_MODE encoded as label form
HOUSETYPE_MODE encoded as label form
WALLSMATERIAL_MODE encoded as label form
EMERGENCYSTATE_MODE encoded as label form
NAME_CONTRACT_TYPE_y encoded as label form
WEEKDAY_APPR_PROCESS_START_y encoded as label form
FLAG_LAST_APPL_PER_CONTRACT encoded as label form
NAME_CASH_LOAN_PURPOSE encoded as label form
NAME_CONTRACT_STATUS encoded as label form
NAME_PAYMENT_TYPE encoded as label form
CODE_REJECT_REASON encoded as label form
NAME_TYPE_SUITE_y encoded as label form
NAME_CLIENT_TYPE encoded as label form
NAME_GOODS_CATEGORY encoded as label form
NAME_PORTFOLIO encoded as label form
NAME_PRODUCT_TYPE encoded as label form
CHANNEL_TYPE encoded as label form
NAME_SELLER_INDUSTRY encoded as label form
NAME_YIELD_GROUP encoded as label form
PRODUCT_COMBINATION encoded as label form

In [302]:
data[numerical].isnull().any()

SK_ID_CURR                   False
TARGET                       False
CNT_CHILDREN                 False
AMT_INCOME_TOTAL             False
AMT_CREDIT_x                 False
                             ...
DAYS_FIRST_DUE               False
DAYS_LAST_DUE_1ST_VERSION    False
DAYS_LAST_DUE                False
DAYS_TERMINATION             False
NFLAG_INSURED_ON_APPROVAL    False
Length: 126, dtype: bool

In [303]:
## droping outliers

outliers = [
    'AMT_INCOME_TOTAL', 'AMT_CREDIT_x', 'AMT_ANNUITY_x', 'AMT_GOODS_PRICE_x',
    'AMT_ANNUITY_y', 'AMT_APPLICATION', 'AMT_CREDIT_y', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE_y',
    'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
    'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH',
    'DAYS_LAST_PHONE_CHANGE', 'DAYS_DECISION', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE',
    'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION',
    'REGION_POPULATION_RELATIVE',
    'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG',
    'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
    'LIVINGAREA_AVG', 'NONLIVINGAREA_AVG',
    'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE',
    'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
    'LIVINGAREA_MODE', 'NONLIVINGAREA_MODE',
    'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
    'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
    'LIVINGAREA_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE'
]
for i in outliers:
    if i != 'TARGET':
        q1 = data[i].quantile(0.25)
        q3 = data[i].quantile(0.75)
        iqr = q3 - q1
    
        lower_bound = q1 - 1.5 * iqr
        upper_bound = q3 + 1.5 * iqr
    
        data = data[(data[i] >= lower_bound) & (data[i] <= upper_bound)]

print('outliers dropped')

outliers dropped

In [304]:
len(data)

248594

In [305]:
# droping columns with more null values

data.drop(['RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED'], axis=1, inplace=True)

In [306]:
# saving the dataset 

data.to_csv('cleaned_loan_data.csv')

In [307]:
len(numerical)

126